<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <style>
        body{
            background-color: steelblue;
            color: white;
        }
        h1:hover{
            opacity: 0.5;
        }
    </style>
</head>
<body>
    <h1>Lorem ipsum dolor sit amet consectetur. 1 + 2</h1>

    <h3> <%= 1+2 %> </h3>
    <h4><%= "hello".toUpperCase() %></h4>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas repellendus voluptate iure ratione sit aliquam voluptatem, facilis commodi sunt iste magni doloremque voluptatum a velit? Ea optio labore amet ullam!
    Incidunt ea officiis blanditiis animi tenetur, accusamus harum laudantium aliquid aut dolorem quasi quos odit, veritatis voluptatibus excepturi! Eveniet quos maxime aspernatur dignissimos ullam velit repellendus soluta neque quod quasi.
    Fugiat, sequi et error iure culpa alias quaerat aliquam. Minima doloribus ullam excepturi sit voluptatum facilis autem, eligendi corporis. Reiciendis quidem minus iste iusto, in necessitatibus asperiores temporibus repellendus quibusdam!
    Magni veniam aspernatur asperiores unde dolorem, corporis odit modi quisquam nisi accusamus et illum, optio sunt! Est inventore impedit delectus. Ipsa, sit distinctio. Incidunt quia cumque quod, fugit reprehenderit dolores.
    Exercitationem vitae facere voluptas libero totam perspiciatis excepturi iure porro consequatur beatae, quos cumque sit ipsam autem quam? Molestias beatae soluta cumque minus. Veniam labore quaerat rerum id tenetur enim.
    Iusto harum obcaecati, cupiditate tenetur qui tempora voluptatibus! Suscipit vel aliquid quaerat placeat libero, necessitatibus quod asperiores velit provident deleniti quos. Odit eius qui laboriosam perspiciatis error consectetur cupiditate possimus!
    Dolor molestiae, distinctio tenetur ipsa nulla consectetur soluta dolorem vitae iure provident quasi aspernatur, exercitationem magnam doloribus culpa laboriosam? Quas atque optio corrupti rerum accusantium repellat enim dolorem commodi labore?
    At ea cum eaque quam nobis sint dolorum iure aut perspiciatis cumque doloribus excepturi debitis eligendi possimus unde asperiores, repudiandae veniam molestias odio tenetur impedit dolor veritatis consequatur! Culpa, sequi?
    Sint cupiditate natus quo atque! Debitis magnam sequi quasi iusto molestias nisi ea officia ducimus error perspiciatis ad commodi aut optio illum at tempore labore odit, ipsam ullam libero vel.
    Eius similique ducimus et explicabo provident non quidem iste blanditiis aliquam aliquid obcaecati fugiat minus, enim, tenetur animi! Fuga ratione ducimus nulla dolore, commodi corrupti a cum soluta eaque consequuntur.</p>
</body>
</html>