<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
   <h1>This is Home Page <%= 5+ 5%> </h1> 
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, blanditiis vero numquam veritatis inventore facilis dolorem odio magni. Ipsa fugit consequatur deserunt animi dicta odio molestias doloribus corrupti ea vitae.</p>
</body>
</html>