<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>
<body>
    <h1>Your random number is : <%= rand   %></h1>
    <!-- Conditional in EJS -->
    <% if(rand % 2 === 0){ %>
        <h2> This is an even </h2>
  <%  } %>
  <!-- in conditional put every line in between <%  %> this will not render anything -->
</body>
</html>